/* #region GLOBAL STYLES */
@font-face {
  font-family: "Glass TTY";
  src: url("/fonts/Glass_TTY_VT220.ttf");
}

html {
  margin: 1rem;
  font-size: 62.5%;
  font-family: "Glass TTY", Helvetica, Arial, sans-serif;
}

body {
  display: flex; 
  flex-direction: column-reverse;
  align-items: center;
  font-size: 2.1em;
}

label:hover {
  cursor: pointer;
}

#audio-file {
  display: none;
}

.num, .time {
  font-size: 71.5%;
}
/* #endregion */

/* #region DESKTOP STYLES */
.player {
  width: 75%;
}
/* #endregion */

/* #region MOBILE STYLES */
@media (max-width: 600px) {
  body {
    display: flex; 
    flex-direction: column-reverse;
    align-items: center;
    font-size: 1.4em;
  }

  .player {
    width: 100%;
  }
}
/* #endregion */